<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CheckLoginServlet</servlet-name>
    <servlet-class>com.easygo.servlet.CheckLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GetSharedRouteInfoServlet</servlet-name>
    <servlet-class>com.easygo.servlet.GetSharedRouteInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>InsertSharedRouteServlet</servlet-name>
    <servlet-class>com.easygo.servlet.InsertSharedRouteServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddUpNumbServlet</servlet-name>
    <servlet-class>com.easygo.servlet.AddUpNumbServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddDownNumbServlet</servlet-name>
    <servlet-class>com.easygo.servlet.AddDownNumbServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>CheckLoginServlet</servlet-name>
    <url-pattern>/servlet/CheckLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSharedRouteInfoServlet</servlet-name>
    <url-pattern>/servlet/GetSharedRouteInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertSharedRouteServlet</servlet-name>
    <url-pattern>/servlet/InsertSharedRouteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddUpNumbServlet</servlet-name>
    <url-pattern>/servlet/AddUpNumbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddDownNumbServlet</servlet-name>
    <url-pattern>/servlet/AddDownNumbServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
